<h1>Add a new item</h1>


<form action="/make_a_new_item" method="post">
  <div>
    <label for="link_url">Link URL</label>
    <input id="link_url" type="text" name="link_url_param">
  </div>

  <div>
    <label for="description">Link Description</label>
    <input id="description" type="text" name="link_description_param">
  </div>

  <div>
    <label for="thumbnail">Thumbnail URL</label>
    <input id="thumbnail" type="text" name="thumbnail_url_param">
  </div>

  <button> Create item </button>
</form>
